body, h1, h2, ul, li, table, th, td, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color:var(--primary-color);
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f2f5;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

button.edit-appointment, button.delete-appointment {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.edit-appointment {
    background-color: #007bff;
    color: #fff;
}

button.edit-appointment:hover {
    background-color: #0056b3;
}

button.delete-appointment {
    background-color: #dc3545;
    color: #fff;
}

button.delete-appointment:hover {
    background-color: #c82333;
}
