body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.btn-page-container{
    border: solid 5px var(--primary-color);
    background-color:#fff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.btn{
    padding: 7px 20px ;
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.btn a {
    width: 100%;
    background-color:var(--primary-color);
    color: white;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;  
    border-radius: 8px;
}
